.container-desc {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}
.desc-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desc-title .desc-left h1 {
  max-width: 50%;
}
.desc-title .desc-right button {
  background: red;
  padding: 12px 54px;
  border-radius: 12px;
  border: 1px solid #ff4b2b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.desc {
  display: flex;
}
.desc .desc-title-left .desc-card {
  border: 2px solid black;
  border-radius: 12px;
  padding: 8px;
  margin: 64px 0;
}
.desc .desc-title-right {
  position: relative;
  display: flex;
  flex-direction: column;
}

.desc .desc-title-right .img-1 {
  position: absolute;
  z-index: 3;
  width: 500px;
}

.desc .desc-title-right .img-2 {
  position: absolute;
  top: 150px;
  width: 500px;
  margin-left: 250px;
  z-index: 5;
}

.desc .desc-title-right .img-3 {
  position: absolute;
  top: 300px;
  width: 500px;
  z-index: 6;
}
